.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 2px solid var(--accent);
}

A{
    text-wrap: nowrap;
    font-size: 1em;

    font-family: var(--font-family-secondary);
}

.frame_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px;
    flex: 1;
}

.frame_2{
    display: flex;
    flex-direction: row;
    padding: 12px 12px;
    flex: 1;
    overflow: auto;
}

.nav_box, .account_box{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 15px;

}

.nav_box > A {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-primary);
}

.nav_box > A:hover{

    border-bottom: 2px solid var(--accent);

}

.nav_box > .current_nav_item{
    border-bottom: 2px solid var(--accent);
}

.nav_box > .current_nav_item:hover{
    text-decoration: none;
}



.account_box button{
    cursor: pointer;
    color: var(--text-primary);
    font-family: var(--font-family-secondary);
}


.account_box .sign_up_btn{
    font-family: var(--font-family-secondary);
    background: var(--primary);
    color: white;
    border-radius: 8px;
}

