.main{
    overflow-y: auto;
    overflow-x: hidden;
}



.dropdown{
    width: 100%;
}

.input_box{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 12px;
}






.filter_container_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    padding-top: 25px;
    margin: 12px 12px;

    border-radius: 8px;
    border: 2px solid var(--accent);

    flex-wrap: wrap;
    gap: 15px;
    
}

.filter_container_1 .box{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    gap: 25px;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;

}

.filter_container_1 .search_input{
    flex: 1;
}

.filter_container_1 .search_btn{
    background: var(--primary);
    width: 100px;
}

.show_more_btn_container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.show_more_btn{
    flex: 1;
    background: var(--secondary);
}

.body_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.filter_container_2 {
    display: flex;
    flex-direction: column;
    padding: 12px;
}


.filter_container_2 > .box{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter_container_2  .box  .item_box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 12px;
}

.filter_container_2 .section_label{
    font-weight: bold;
    font-size: 1.1em;
}

.filter_container_2 .input_label{
    width: 50px;
}

.filter_container_2 .input{
    flex: 1;
}

.item_container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    flex: 1;
    box-sizing: border-box;
}

.item_container > .item_box{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid var(--accent);
    border-radius: 8px;
    padding: 8px;
    align-items: center;
}

.item_container > .item_box > .profile_picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}



.item_container > .item_box .text_1{
    font-weight: bold;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item_container > .item_box .text_2{
    font-weight: normal;
    font-size: 0.8em;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item_container > .item_box > .info_box_1{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    height: 100%;
    flex: 1;
}

.item_container > .item_box > .info_box_2{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.item_container > .item_box > .info_box_2 > .hire_btn{
    background: var(--secondary);
    padding: 5px;
    height: fit-content;
    width: fit-content;

}



.hire_guide_container{
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 25px;
    
}

.hire_guide_container .inner_box{
    background: white;
    min-width: 50%;
    min-height: 50%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
}

.hire_guide_container .profile_picture{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.hire_guide_container .box_1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 12px;
    flex-direction: column;
}


.hire_guide_container .text_1{
    font-weight: bold;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hire_guide_container .text_2{
    font-weight: normal;
    font-size: 1.2em;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.hire_guide_container .box_2{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
}

.hire_guide_container .contact_key{
    font-weight: bold;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

.hire_guide_container .contact_value{
    font-weight: normal;
    font-size: 1em;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hire_guide_container .box_3{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.hire_guide_container .btn{
    background: var(--secondary);
    color: white;
    width: 100px;
}
