@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* Color Variables */
:root {
  --primary: #0b2a5b;
  --secondary: #239efe;
  --stroke: #f5f7fa;
  --color: #0b2a5b;
  --accent_soft: #f2e6d4;
  --accent: #d9d9d9;

  --text-primary: black;
}
/* ----------- */

/* Font Variables */
:root {
  --font-family-primary: "Inter", sans-serif;
  --font-family-secondary: "Plus Jakarta Sans", sans-serif;

}
/* ----------- */



body {
  margin: 0;
  font-family: var(--font-family-secondary);
}

calendar-date {
  --color-accent: #0b2a5b;
  --color-text-on-accent: white;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 1rem;
  display: block;
  min-width: 300px;
  min-height: 300px;
}

calendar-month {
  --color-text: #333;
}
